
html,
body {
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    color: #78909c;
    font-family:noto sans;
    
}
e43
body {
    font-family: 'Noto Sans', sans-serif;
    
}
h2{
    letter-spacing: 4px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}



/* Header */

.header {
    position: fixed;
    height: 100%;
    background-image: url('../img/bg.jpg');
    color: white;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    display: table;
    z-index: -1;
    -webkit-background-size: cover;
}

.padding{
    position: relative;
    height: 100%;
    background-color: transparent;
    width: 100%;
    padding: 0 0 42em 0;
    z-index: -2;
    
}

/* About */


    .about {
    padding: 5em;
    background-color: #fafafa;
    line-height: 30px;
}


/* How */

.how {
    margin-top: 10em;
    padding: 7em ;
    background-color: #fafafa;
}



.sldwrapper {
    height: 400px;
  margin: 0 auto;
  overflow: hidden;
    }

    .sldbtn {
        width: 33.3%;
      float: left;
      line-height: 60px;
      text-decoration: none;
      color: inherit;
      

        }
        .active {
            font-weight: bold;
             background: #78909c;
             color: #ffffff;
            }
.btn:hover{
    color: #555555;
}
.btn:focus,
.btn:active {
    color: #ffffff;
    
}

hr {
    display: block;
  height: 0;
  clear: both;
  border: none;
    }

.slides {
    width: auto;
  height: 100%;
  overflow: hidden;
    }
  .sld {
    width: 100%;
    height: 100%;
    line-height: 45px;
    transition: margin .3s;
    font-weight: bold;
    padding-top: 6%;
    text-align:center;
    }
    .sld:first-of-type {
    
    }
    .slides .sld:nth-of-type(2) {
    
    }
    .slides .sld:nth-of-type(3) {
    
    }
    

.btn.active ~ .slides .sld:first-of-type {
  margin-top: 0;
    }
.btn:nth-of-type(2).active ~ .slides .sld:first-of-type {
  margin-top: -400px;    
    }
.btn:nth-of-type(3).active ~ .slides .sld:first-of-type {
  margin-top: -800px;
    }




/*try*/
.try{
    background-color: #fafafa;
    font-color: #78909c;
}

/*tryv*/
.tryv{
    display: table;
    position: relative;
    width: 100%;
    font-color: #78909c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #fafafa;
}

/*series*/
.series{
    padding: 7em 0em;
    background-color: #fafafa;
}

.series icon{
    padding: 1em
}

/*youtube*/
.youtube{
    padding: 4em;
    background-color: #b0bec5;
    
}

/* Footer */
.end{
    padding: 4em 0 4em 0;
    background-color: #fafafa;
}

footer {
   padding: 1.5em 0;
    background-color: #b0bec5;
}

/*btn RWD*/
@media (max-width: 700px) {
.btn {
        width: 100%;
      line-height: 40px;
      text-decoration: none;
      text-align: center;
        }
.sldwrapper {
    height: 600px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1em;
    } 
.sld div {
    
    margin-top: 30%;
    line-height: 50px;
}
.btn.active ~ .slides .sld:first-of-type {
  margin-top: 0;
    }
.btn:nth-of-type(2).active ~ .slides .sld:first-of-type {
  margin-top: -600px;    
    }
.btn:nth-of-type(3).active ~ .slides .sld:first-of-type {
  margin-top: -1200px;
    }
    sld{
    line-height: 45px;
}
}

}